<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ./include/head.ejs %>
</head>

<body>
<div id="vueApp" v-clock>
    <el-container>
        <el-header>
            <% include ./include/nav.ejs %>
        </el-header>
        <el-main>
            <el-row>
                <el-col :span="4">
                    <el-tree :load="loadNode" @node-click="videoTreeClick" lazy>
                    </el-tree>
                </el-col>
                <el-col :span="20">
                    <video ref="video" style="width: 100%" controls>
                        <source :src="videoUrl" type="video/mp4">
                    </video>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
</body>
<script src="/javascripts/yuyuyui/index.js"></script>
</html>
