<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ./include/head.ejs %>
</head>
<style>
    .el-row {
        margin-bottom: 20px;
    }

    .text-purple {
        color: #F925E1;
    }

    .el-card__header {
        padding: 10px 15px;
    }
    .el-carousel__item h3 {
        color: #475669;
        font-size: 14px;
        opacity: 0.75;
        line-height: 150px;
        margin: 0;
    }

    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
    }
</style>
<body>
<div id="vueApp" v-clock>
    <el-container>
        <el-header>
            <% include ./include/nav.ejs %>
        </el-header>
        <el-main>
            <div v-show="activeNav=='1'">
                <el-row>
                    <el-col :span="4">
                        <el-timeline>
                            <el-timeline-item
                                    v-for="(activity, index) in timeline"
                                    :key="index"
                                    :timestamp="activity.timestamp">
                                {{activity.content}}
                            </el-timeline-item>
                        </el-timeline>
                    </el-col>
                    <el-col :span="20">
                        <div class="block">
                            <h2 class="demonstration" style="text-align: center">更新信息</h2>
                            <el-carousel trigger="click" height="150px">
                                <el-carousel-item v-for="n in 6" :key="n">
                                    <h3 class="small"></h3>
                                </el-carousel-item>
                            </el-carousel>
                        </div>
                    </el-col>
                </el-row>
            </div>
            <!--剧情视频-->
            <div v-show="activeNav=='4'">
                <el-row>
                    <el-col :xs="24" :sm="8" :md="4">
                        <el-tree :load="loadNode" @node-click="videoTreeClick" :props="props" lazy>
                        </el-tree>
                    </el-col>
                    <el-col :xs="24" :sm="16" :md="20">
                        <el-alert
                                title="服务器地址不在大陆地区，所以电信网会很卡，移动和联通似乎很流畅。也可以通过下方的新浪视频去观看。请使用谷歌内核或者ie11以上的浏览器，不然网页可能不正常。"
                                type="success">
                        </el-alert>
                        <h4 style="height: 21px">{{videoPath}}</h4>
                        <% if(userInfo && userInfo.level == 1){ %>
                            <el-row>
                                <el-col :span="24">
                                    <el-table
                                            :data="editVideoNode"
                                            height="400"
                                            style="width: 100%">
                                        <el-table-column
                                                prop="id"
                                                label="id">
                                        </el-table-column>
                                        <el-table-column
                                                prop="pid"
                                                label="pid">
                                        </el-table-column>
                                        <el-table-column
                                                prop="label"
                                                label="label">
                                        </el-table-column>
                                        <el-table-column
                                                prop="isLeaf"
                                                label="isLeaf">
                                        </el-table-column>
                                        <el-table-column
                                                prop="orderNo"
                                                label="orderNo">
                                        </el-table-column>
                                        <el-table-column
                                                prop="src"
                                                label="src">
                                        </el-table-column>
                                        <el-table-column
                                                label="操作">
                                            <template slot-scope="scope">
                                                <el-button type="text" size="small" @click="clickEditNode(scope)">查看
                                                </el-button>
                                                <el-button type="text" size="small">删除</el-button>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="24">
                                    <el-button type="success" round @click="createNewVideoNode">创建新节点</el-button>
                                    <el-form ref="editVideoNodeFrom" :model="editNode" label-width="160px"
                                             v-if="editNode!=null"
                                             :label-position="'left'">
                                        <el-form-item label="名称">
                                            <el-input v-model="editNode.label"></el-input>
                                        </el-form-item>
                                        <el-form-item label="路径">
                                            <el-input v-model="editNode.src"></el-input>
                                        </el-form-item>
                                        <el-form-item label="序号">
                                            <el-input v-model.Number="editNode.orderNo"></el-input>
                                        </el-form-item>
                                        <el-form-item label="是否是叶子节点">
                                            <el-switch v-model="editNode.leaf"></el-switch>
                                        </el-form-item>
                                        <el-form-item>
                                            <el-button type="primary" @click="saveVideoNode">保存</el-button>
                                            <el-button @click="editNode=null">取消</el-button>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                            </el-row>
                        <% } %>
                        <video ref="video" style="width: 100%" controls v-show="videoUrl!=null">
                            <source :src="videoUrl" type="video/mp4">
                        </video>
                        <el-button type="danger" round @click="gotoXL" :disabled="activeVideoNode.data.src==''"
                                   v-if="activeVideoNode!=null&&activeVideoNode.data.leaf==1">新浪视频
                        </el-button>
                    </el-col>
                </el-row>
            </div>
            <!--卡面图鉴-->
            <div v-show="activeNav=='2-1'">
                <div v-show="!isCardEdit">
                    <el-row>
                        <el-col :span="24">
                            <el-form ref="cards" :model="cardsForm">
                                <el-form-item label="角色">
                                    <el-checkbox-group v-model="cardsForm.character">
                                        <el-checkbox :label="item.title" name="character"
                                                     v-for="(item,index) in character"></el-checkbox>
                                    </el-checkbox-group>
                                </el-form-item>
                                <el-form-item label="稀有度">
                                    <el-checkbox-group v-model="cardsForm.rate">
                                        <el-checkbox label="UR" name="rate"></el-checkbox>
                                        <el-checkbox label="SSR" name="rate"></el-checkbox>
                                        <el-checkbox label="MR" name="rate"></el-checkbox>
                                        <el-checkbox label="SR" name="rate"></el-checkbox>
                                        <el-checkbox label="R" name="rate"></el-checkbox>
                                    </el-checkbox-group>
                                </el-form-item>
                                <el-form-item label="属性">
                                    <el-checkbox-group v-model="cardsForm.color">
                                        <el-checkbox label="赤" name="color"></el-checkbox>
                                        <el-checkbox label="青" name="color"></el-checkbox>
                                        <el-checkbox label="绿" name="color"></el-checkbox>
                                        <el-checkbox label="黄" name="color"></el-checkbox>
                                        <el-checkbox label="紫" name="color"></el-checkbox>
                                    </el-checkbox-group>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="getCards(1)">搜 索</el-button>

                                    <% if(userInfo && userInfo.level == 1){ %>
                                        <el-button type="success" @click="toCardInfo()">新 建</el-button>
                                    <%}%>
                                </el-form-item>
                            </el-form>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :xs="12" :sm="12" :md="6" :xl="4" v-for="(item,index) in cardList"
                                style="padding: 10px 10px">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <h4 style="margin: 0">{{item.title}}</h4>
                                    <span style="display: flex;flex-direction: row;justify-content:space-between ">
                                    {{item.character}}·{{item.rate}}·{{item.color}}
                                    <el-button style="padding: 3px 0" type="text"
                                               @click="toCardInfo(item)">查看</el-button>
                                </span>
                                </div>
                                <el-image v-show="item.open==0" :src="getCardPath(1,item.beforeImgName)"
                                          :fit="'contain'"></el-image>
                                <el-image v-show="item.open==1" :src="getCardPath(1,item.afterImgName)"
                                          :fit="'contain'"></el-image>
                                <div style="height: 20px;display: flex;flex-direction: row-reverse;justify-content:space-between">
                                    <el-link type="success"
                                             :href="getCardPath(2,item.open==1?item.afterImgName:item.beforeImgName)"
                                             target="_blank"
                                             download>下载原图
                                    </el-link>
                                    <el-switch v-if="item.afterImgName!=null&&item.afterImgName!=''"
                                               :value="item.open==1"
                                               @input="item.open==1?item.open=0:item.open=1"
                                               active-color="#13ce66">
                                    </el-switch>
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="24" style="display: flex;flex-direction: row-reverse;justify-content:space-between ">
                            <el-pagination
                                    background
                                    :current-page.sync="cardsPageNo"
                                    :hide-on-single-page="true"
                                    @current-change="cardsPageChange"
                                    :page-size="cardsPageSize"
                                    layout="total,prev, pager, next,jumper"
                                    :total="cardsTotal">
                            </el-pagination>

                        </el-col>
                    </el-row>
                </div>
                <div v-show="isCardEdit" v-if="activeCard!=null">
                    <el-button @click="isCardEdit=false" type="primary">返回列表</el-button>
                    <h1>{{activeCard.title}}·{{activeCard.rate}}·{{activeCard.character}}·{{activeCard.color}}</h1>
                    <el-row>
                        <el-col :span="12" style="padding: 10px">
                            <h3>
                                神花前
                                <% if(userInfo && userInfo.level == 1){ %>
                                    <label for="uploadBefore" type="button" class="el-button el-button--primary is-round"><span>上 传</span></label>
                                    <el-button type="warning" round @click="activeCard.beforeImgName=''">删除</el-button>
                                <%}%>
                            </h3>
                            <form v-show="false">
                                <input type="file" name="pic" id="uploadBefore" @change="uploadCardImg(1)">
                            </form>
                            <el-image style="width: 100%;" :src="getCardPath(2,activeCard.beforeImgName)" :fit="'fit'" v-if="activeCard.beforeImgName!=''"></el-image>
                        </el-col>
                        <el-col :span="12" style="padding: 10px">
                            <h3>
                                神花后
                                <% if(userInfo && userInfo.level == 1){ %>
                                    <label for="uploadAfter" type="button" class="el-button el-button--primary is-round"><span>上 传</span></label>
                                    <el-button type="warning" round @click="activeCard.afterImgName=''">删除</el-button>
                                <%}%>
                            </h3>
                            <form v-show="false">
                                <input type="file" name="pic" id="uploadAfter" @change="uploadCardImg(2)">
                            </form>
                            <el-image style="width: 100%;" :src="getCardPath(2,activeCard.afterImgName)" :fit="'fit'" v-if="activeCard.afterImgName!=''"></el-image>
                        </el-col>
                    </el-row>

                    <% if(userInfo && userInfo.level == 1){ %>
                        <el-row>
                            <el-form ref="form" :model="activeCard" label-width="160px" style="max-width: 1000px">
                                <el-form-item label="卡名">
                                    <el-input v-model="activeCard.title"></el-input>
                                </el-form-item>
                                <el-form-item label="角色">
                                    <el-select v-model="activeCard.character" placeholder="">
                                        <el-option :label="item.title" :value="item.title" v-for="(item,index) in character"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="属性">
                                    <el-select v-model="activeCard.color" placeholder="">
                                        <el-option label="赤" value="赤"></el-option>
                                        <el-option label="青" value="青"></el-option>
                                        <el-option label="绿" value="绿"></el-option>
                                        <el-option label="紫" value="紫"></el-option>
                                        <el-option label="黄" value="黄"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="稀有度" style="width: 100%">
                                    <el-select v-model="activeCard.rate" placeholder="">
                                        <el-option label="UR" value="UR"></el-option>
                                        <el-option label="SSR" value="SSR"></el-option>
                                        <el-option label="MR" value="MR"></el-option>
                                        <el-option label="SR" value="SR"></el-option>
                                        <el-option label="R" value="R"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="HP">
                                    <el-input v-model.Number="activeCard.hp"></el-input>
                                </el-form-item>
                                <el-form-item label="AKT">
                                    <el-input v-model.Number="activeCard.akt"></el-input>
                                </el-form-item>
                                <el-form-item label="速度">
                                    <el-input v-model="activeCard.speed"></el-input>
                                </el-form-item>
                                <el-form-item label="cost">
                                    <el-input v-model.Number="activeCard.cost"></el-input>
                                </el-form-item>
                                <el-form-item label="crt">
                                    <el-input v-model="activeCard.crt"></el-input>
                                </el-form-item>
                                <el-form-item label="韧性">
                                    <el-input v-model="activeCard.strength"></el-input>
                                </el-form-item>
                                <el-form-item label="成长">
                                    <el-input v-model="activeCard.grown"></el-input>
                                </el-form-item>
                                <el-form-item label="队长技能">
                                    <el-input v-model="activeCard.leaderSkillName"></el-input>
                                </el-form-item>
                                <el-form-item label="队长技能介绍">
                                    <el-input v-model="activeCard.leaderSkillConctent"></el-input>
                                </el-form-item>
                                <el-form-item label="必杀技">
                                    <el-input v-model="activeCard.skillName"></el-input>
                                </el-form-item>
                                <el-form-item label="必杀技介绍">
                                    <el-input v-model="activeCard.skillContent"></el-input>
                                </el-form-item>
                                <el-form-item label="被动效果">
                                    <el-input v-model="activeCard.abilityName"></el-input>
                                </el-form-item>
                                <el-form-item label="被动效果介绍">
                                    <el-input v-model="activeCard.abilityContent"></el-input>
                                </el-form-item>
                                <el-form-item label="简评">
                                    <el-input type="textarea" v-model="activeCard.description"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="saveCard">保存</el-button>
                                    <el-button @click="isCardEdit=false">取消</el-button>
                                </el-form-item>
                            </el-form>
                        </el-row>
                    <%}else{%>
                        <el-row>
                            <el-table
                                    border
                                    :data="[activeCard]"
                                    style="width: 100%">
                                <el-table-column
                                        prop="hp"
                                        label="HP">
                                </el-table-column>
                                <el-table-column
                                        prop="akt"
                                        label="AKT">
                                </el-table-column>
                                <el-table-column
                                        prop="speed"
                                        label="速度">
                                </el-table-column>
                                <el-table-column
                                        prop="strength"
                                        label="韧性">
                                </el-table-column>
                                <el-table-column
                                        prop="crt"
                                        label="CRT">
                                </el-table-column>
                                <el-table-column
                                        prop="cost"
                                        label="COST">
                                </el-table-column>
                                <el-table-column
                                        prop="grown"
                                        label="成长">
                                </el-table-column>
                            </el-table>
                        </el-row>
                        <el-row>
                            <el-table
                                    border
                                    :data="cardInfo"
                                    style="width: 100%">
                                <el-table-column
                                        prop="label"
                                        label="">
                                </el-table-column>
                                <el-table-column
                                        prop="name"
                                        label="名称">
                                </el-table-column>
                                <el-table-column
                                        prop="description"
                                        label="描述">
                                </el-table-column>
                            </el-table>
                        </el-row>
                        <el-row>
                            <div>简评：{{activeCard.description}}</div>
                        </el-row>
                    <%}%>


                </div>
            </div>
            <div v-show="activeNav=='3'">
                <div style="width: 80%;margin: 0 auto">
                    大家好，我是肥皂泡。因为被人用那1p的剧情追着举报，ab站都阵亡了。于是想着自己建个网站吧。就试着做了一个简单的网站放花结视频。但是想着光放花结视频太浪费了，所以加了图鉴，
                    以后有机会的话会试着加点其他的资源或者功能什么的。爱发电也被举报掉了，还是直接发收款码吧，如果愿意的话可以来赞助一下。<br>
                    <div style="max-width:800px;display: flex;flex-direction: row;justify-content: space-between;margin-top: 20px">
                        <el-image style="width: 300px" src="/images/zfb.JPG" :fit="'fit'"></el-image>
                        <el-image style="width: 300px" src="/images/wx.JPG" :fit="'fit'"></el-image>
                    </div>
                </div>
            </div>
        </el-main>
    </el-container>
    <div v-loading.fullscreen.lock="loading">

    </div>
    <el-dialog title="登录" :visible.sync="dialogLoginVisible" :width="'600px'">
        <el-form :model="loginForm" :label-position="'left'">
            <el-form-item label="用户名" :label-width="'100px'">
                <el-input v-model="loginForm.username" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="密码" :label-width="'100px'">
                <el-input type="password" v-model="loginForm.password" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogLoginVisible = false">取 消</el-button>
            <el-button type="primary" @click="J_login">登 录</el-button>
        </div>
    </el-dialog>
</div>
</body>
<script src="/javascripts/yuyuyui/index.js"></script>
</html>
