<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ./include/head.ejs %>
</head>
<style>
    .el-row {
        margin-bottom: 20px;
    }
</style>
<body>
<div id="vueApp" v-clock>
    <el-container>
        <el-header>
            <% include ./include/nav.ejs %>
        </el-header>
        <el-main>
            <!--剧情视频-->
            <el-row v-show="activeNav=='4'">
                <el-col :xs="24" :sm="8" :md="4">
                    <el-tree :load="loadNode" @node-click="videoTreeClick" :props="props" lazy accordion>
                    </el-tree>
                </el-col>
                <el-col :xs="24" :sm="16" :md="20">
                    <el-alert
                            title="服务器地址不在大陆地区，所以电信网会很卡，移动和联通似乎很流畅。也可以通过下方的新浪视频去观看。请使用谷歌内核或者ie11以上的浏览器，不然网页可能不正常。"
                            type="success">
                    </el-alert>
                    <h4 style="height: 21px">{{videoPath}}</h4>
                    <% if(userInfo && userInfo.level == 1){ %>
                        <el-row>
                            <el-col :span="24">
                                <el-table
                                        :data="editVideoNode"
                                        height="400"
                                        style="width: 100%">
                                    <el-table-column
                                            prop="id"
                                            label="id">
                                    </el-table-column>
                                    <el-table-column
                                            prop="pid"
                                            label="pid">
                                    </el-table-column>
                                    <el-table-column
                                            prop="label"
                                            label="label">
                                    </el-table-column>
                                    <el-table-column
                                            prop="isLeaf"
                                            label="isLeaf">
                                    </el-table-column>
                                    <el-table-column
                                            prop="orderNo"
                                            label="orderNo">
                                    </el-table-column>
                                    <el-table-column
                                            prop="src"
                                            label="src">
                                    </el-table-column>
                                    <el-table-column
                                            label="操作">
                                        <template slot-scope="scope">
                                            <el-button type="text" size="small" @click="clickEditNode(scope)">查看
                                            </el-button>
                                            <el-button type="text" size="small">删除</el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-button type="success" round @click="createNewVideoNode">创建新节点</el-button>
                                <el-form ref="editVideoNodeFrom" :model="editNode" label-width="160px"
                                         v-if="editNode!=null"
                                         :label-position="'left'">
                                    <el-form-item label="名称">
                                        <el-input v-model="editNode.label"></el-input>
                                    </el-form-item>
                                    <el-form-item label="路径">
                                        <el-input v-model="editNode.src"></el-input>
                                    </el-form-item>
                                    <el-form-item label="序号">
                                        <el-input v-model.Number="editNode.orderNo"></el-input>
                                    </el-form-item>
                                    <el-form-item label="是否是叶子节点">
                                        <el-switch v-model="editNode.leaf"></el-switch>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" @click="saveVideoNode">保存</el-button>
                                        <el-button @click="editNode=null">取消</el-button>
                                    </el-form-item>
                                </el-form>
                            </el-col>
                        </el-row>
                    <% } %>
                    <video ref="video" style="width: 100%" controls v-show="videoUrl!=null">
                        <source :src="videoUrl" type="video/mp4">
                    </video>
                    <el-button type="danger" round @click="gotoXL" :disabled="activeVideoNode.data.src==''"
                               v-if="activeVideoNode!=null&&activeVideoNode.data.leaf==1">新浪视频
                    </el-button>
                </el-col>
            </el-row>
            <!--卡面图鉴-->
            <template v-if="activeNav=='2-1'">
                <el-row>
                    <el-col :xs="12" :sm="12" :md="6" v-for="(item,index) in cardList" style="padding: 10px 20px">
                        <el-card class="box-card" :body-style="{ padding: '0px' }">
                            <h5>{{item.title}}·{{item.character}}·{{item.rate}}·{{item.color}}</h5>
                            <el-image :src="item.beforeImg" :fit="'contain'"></el-image>
                        </el-card>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="24" style="display: flex; flex-direction:row-reverse">
                        <el-pagination
                                background
                                @current-change="cardsPageChange"
                                :page-size="cardsPageSize"
                                layout="total,prev, pager, next,jumper"
                                :total="cardsTotal">
                        </el-pagination>
                    </el-col>
                </el-row>
            </template>

        </el-main>
    </el-container>

    <el-dialog title="登录" :visible.sync="dialogLoginVisible" :width="'600px'">
        <el-form :model="loginForm" :label-position="'left'">
            <el-form-item label="用户名" :label-width="'100px'">
                <el-input v-model="loginForm.username" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="密码" :label-width="'100px'">
                <el-input type="password" v-model="loginForm.password" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogLoginVisible = false">取 消</el-button>
            <el-button type="primary" @click="J_login">登 录</el-button>
        </div>
    </el-dialog>
</div>
</body>
<script src="/javascripts/yuyuyui/index.js"></script>
</html>
