<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<% include ./include/head.ejs%>
<body>
<div id="vueApp" v-clock>
    <el-container>
        <el-header>
            <% include ./include/nav.ejs%>
        </el-header>
        <el-main>
            <video style="width: 500px">
                <source src="/video/kirameki/c1_nomarl.mp4" type="video/mp4">
            </video>
        </el-main>
    </el-container>
</div>
</body>
<script src="/javascripts/yuyuyui/index.js"></script>
</html>
