<el-menu
        :default-active="activeNav"
        class="el-menu-demo"
        mode="horizontal"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b">
    <el-menu-item index="1">首页</el-menu-item>
    <el-submenu index="2">
        <template slot="title">手游相关</template>
        <el-menu-item index="2-1">卡面</el-menu-item>
        <el-menu-item index="2-2">精灵</el-menu-item>
        <el-menu-item index="2-3">剧情</el-menu-item>
    </el-submenu>
    <el-menu-item index="3">关于本站</el-menu-item>
    <el-menu-item style="float: right">
        <% if (userInfo) { %>
            <div>
                <el-avatar src="https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png"></el-avatar>
                欢迎，<%= userInfo.name %>
            </div>
        <% }else { %>
        <div @click="dialogLoginVisible=true">
            <el-avatar src="https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png"></el-avatar>
            未登录
        </div>
        <%}%>>
    </el-menu-item>
</el-menu>